<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479832970905-bps6tofdvc58cpv00d1hn4rq9iebe8te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479832970905-bps6tofdvc58cpv00d1hn4rq9iebe8te</string>
	<key>API_KEY</key>
	<string>AIzaSyBRpiU3RH09DOZsnDxjAkYczaJO8h3TL9E</string>
	<key>GCM_SENDER_ID</key>
	<string>479832970905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messagingApp</string>
	<key>PROJECT_ID</key>
	<string>conversa-app-bf38b</string>
	<key>STORAGE_BUCKET</key>
	<string>conversa-app-bf38b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479832970905:ios:abc15787e91f7d23c18a08</string>
</dict>
</plist>